In [10]:
import pandas as pd

In [21]:
df = pd.read_csv("hotel_bookings.csv")
print(df.head(1))

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0        342               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                        27                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  deposit_type  \
0                        0                     0       2  ...    No Deposit

   agent company days_in_waiting_list customer_type  adr  \
0    NaN     NaN                    0     Transient  0.0

   required_car_parking_spaces  total_of_special_requests  reservation_status  \
0                            0                          0           Check-Out

  reservation_status_date
0              2015-07-01

[1 rows x 32 columns]

In [12]:
df = df.drop(['company'], axis = 1)
df = df.dropna(axis = 0)

In [13]:
df1 = df.copy()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102894 entries, 3 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           102894 non-null  object
 1   is_canceled                     102894 non-null  int64
 2   lead_time                       102894 non-null  int64
 3   arrival_date_year               102894 non-null  int64
 4   arrival_date_month              102894 non-null  object
 5   arrival_date_week_number        102894 non-null  int64
 6   arrival_date_day_of_month       102894 non-null  int64
 7   stays_in_weekend_nights         102894 non-null  int64
 8   stays_in_week_nights            102894 non-null  int64
 9   adults                          102894 non-null  int64
 10  children                        102894 non-null  float64
 11  babies                          102894 non-null  int64
 12  meal                            102894 non-null  object
 13  country                         102894 non-null  object
 14  market_segment                  102894 non-null  object
 15  distribution_channel            102894 non-null  object
 16  is_repeated_guest               102894 non-null  int64
 17  previous_cancellations          102894 non-null  int64
 18  previous_bookings_not_canceled  102894 non-null  int64
 19  reserved_room_type              102894 non-null  object
 20  assigned_room_type              102894 non-null  object
 21  booking_changes                 102894 non-null  int64
 22  deposit_type                    102894 non-null  object
 23  agent                           102894 non-null  float64
 24  days_in_waiting_list            102894 non-null  int64
 25  customer_type                   102894 non-null  object
 26  adr                             102894 non-null  float64
 27  required_car_parking_spaces     102894 non-null  int64
 28  total_of_special_requests       102894 non-null  int64
 29  reservation_status              102894 non-null  object
 30  reservation_status_date         102894 non-null  object
dtypes: float64(3), int64(16), object(12)
memory usage: 25.1+ MB

In [15]:
df['hotel'] = df['hotel'].map({'Resort Hotel':0, 'City Hotel':1})
df['hotel'].unique()

array([0, 1], dtype=int64)

In [16]:
df['arrival_date_month'].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [17]:
df['arrival_date_month'] = df['arrival_date_month'].map({'January':1, 'February': 2, 'March':3, 'April':4, 'May':5, 'June':6, 'July':7,
                                                            'August':8, 'September':9, 'October':10, 'November':11, 'December':12})
df['arrival_date_month'].unique()

array([ 7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5,  6], dtype=int64)

In [18]:
#https://www.kaggle.com/code/amarloni/eda-best-regression-data-visualization/notebook